
Chapter08/.ipynb_checkpoints/

Chapter02/.ipynb_checkpoints/Examples-checkpoint.ipynb

Chapter02/.ipynb_checkpoints/Exercise 2.01-checkpoint.ipynb

Chapter02/.ipynb_checkpoints/

Chapter05/.ipynb_checkpoints/

Chapter05/Exercise05_01/.ipynb_checkpoints/

Chapter05/Exercise05_02/.ipynb_checkpoints/

Chapter05/Exercise05_03/.ipynb_checkpoints/

Chapter05/Exercise05_04/.ipynb_checkpoints/

Chapter05/Exercise05_05/.ipynb_checkpoints/

Chapter05/Exercise05_06/.ipynb_checkpoints/

Chapter05/Activity05_03/.ipynb_checkpoints/

Chapter05/Activity05_01/.ipynb_checkpoints/

Chapter05/Activity05_02/.ipynb_checkpoints/

Chapter09/Exercise09_01/.ipynb_checkpoints/Exercise09_01-checkpoint.ipynb

Chapter09/Activity09_01/.ipynb_checkpoints/Activity09_01-checkpoint.ipynb

Chapter09/Exercise09_02/.ipynb_checkpoints/Exercise09_02-checkpoint.ipynb

Chapter09/Exercise09_03/.ipynb_checkpoints/Exercise09_03-checkpoint.ipynb

Chapter09/Exercise09_04/.ipynb_checkpoints/Exercise09_04-checkpoint.ipynb

Chapter03/Exercise03_01/.ipynb_checkpoints/

Chapter03/Exercise03_02/.ipynb_checkpoints/

Chapter09/.ipynb_checkpoints/Exercise9.01-checkpoint.ipynb

Chapter03/.ipynb_checkpoints/Examples-checkpoint.ipynb
